body {
  overflow-x: hidden;
}
.border-bot {
  border-bottom: solid 1px;
  border-color: white;
}

.underdev {
  display: none;
  visibility: hidden;
}

#logo {
  width: 9rem;
  height: auto;
}
#img-logo {
  transition: max-width 1s;
  max-width: 150%;
}

.img-logo-on {
  max-width: 100% !important;
}

#showcase {
  background-image: url(../resources/showcase2.jpg);
  background-size: cover;
  height: 700px;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.2);
}
#main-text {
  position: relative;
  top: 45%;
  width: 100%;
  text-transform: uppercase;
}

.navbar-fixed-top.scrolled {
  background-color: #fff !important;
  transition: background-color 200ms linear;
}
.scroll-effect {
  background: transparent;
  transition: background 1.5s;
}
.scroll-effect-on {
  background: rgba(0, 0, 0, 0.8);
}

#navBar {
  text-transform: uppercase;
  transition: margin-top 0.5s;
}
